// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Outfit", sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Big Shoulders", sans-serif;

// Colores:
$orange: #D5966C;
$black: #151515;
$gray: #444444;
$white: #fff;

// Encabezados:
$H-xl: 96px;
$line-xl: 88px;

$H-l: 70px;
$line-l: 70px;

$H-m: 60px;
$line-m: 50px;

$H-s: 36px;
$line-s: 36px;


$text-body-m: 22px;
$lineM: 32px;

$text-body-s: 18px;
$lineS: 28px;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 375px,
	'medium': 768px,
	'large': 1024px,
	'xl': 1440px,
);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
