@use '../abstracts';

.header__location {
    display: flex;
    &--btn {
        @include abstracts.dinamic-btn('before', end);
        position: absolute;
        top: 0;
    }

    @include abstracts.responsive(medium) {
        &--btn {
            margin-left: 3rem;
        }
    }
}

.main__location {
    
    background-color: abstracts.$black;
    color: abstracts.$white;
    padding-top: 2rem;
    padding-bottom: 2.25rem;

    h2 {
        padding-bottom: 1rem;
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
        color: abstracts.$orange;
        margin-bottom: 1.25rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 100;
        line-height: 1.7rem;
        margin-bottom: 1.25rem;
    }

    @include abstracts.responsive(medium) {
        padding-top: 4rem;
        padding-inline: 2.5rem;

        .container {
            display: flex;
            gap: 6rem;

            h2 {
                line-height: 2.8rem;
            }
            
            p:last-of-type {
                // width: 84%;
                margin-bottom: 2rem;
            }
        }
    }
}

.footer__location {

    background-color: abstracts.$orange;

    .container {
        padding: 3rem 2rem;

        h4 {
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.6rem;
            margin-bottom: 2.38rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
            margin-bottom: 2.38rem;
        }

        a+a {
            margin-left: 1rem;
        }

        @include abstracts.responsive(medium) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
    
            h4 {
                flex: 1;
                margin-bottom: 0;
            }
    
            p {
                flex: 1.5;
                margin-bottom: 1px;
            }
    
            nav {
                text-align: end;
                flex: 1;
            }
        }
    }
}