@use '../abstracts';
@use '../components/button';

.hero {

    margin-bottom: 7.5rem;

    .hero__img {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 4.45rem;
        line-height: 3.8rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 2rem;
    }
    
    a {
        @include abstracts.dinamic-btn('after')
    }
}