@use '../abstracts';
@use '../base/helpers';

.main {
    margin-bottom: 7.5rem;

    // ------ main__header ------
    &__header {

        img {
            margin-bottom: 1.5rem;
        }

        h2 {
            @extend .style-h2
        }

        margin-bottom: 2rem;

        // Vista tablet del main__header
        @include abstracts.responsive(medium) {

            margin-bottom: .8rem;

            display: grid;
            grid-template-columns: 1fr 1.4fr;
            grid-template-rows: 25rem;
            grid-template-areas: 
            'text img';

            .main__header--img {
                margin: 0;
                grid-area: img;
                align-self: stretch;
                object-fit: cover;
            }

            .main__header--text {
                width: 80%;
                grid-area: text;
                align-self: center;
                margin-top: 1rem;

                p{
                    width: 95%;
                }
            }
        }
    }

    // ------ main__gallery ------
    &__gallery {

        img {
            margin-bottom: .8rem;
        }

        &--text {
            color: abstracts.$white;
            padding: 85px 22px;
            background-color: abstracts.$black;

            h2 {
                @extend .style-h2;
            }
        }

        // VIsta tablet del main__gallery
        @include abstracts.responsive(medium) {
            display: grid;
            grid-template-columns: 1.8fr 1fr;
            grid-template-rows: 1fr 1.5fr;
            grid-template-areas: 
            'uno dos'
            'uno tres';
            gap: .8rem;

            .salon-2 {
                grid-area: uno;
                align-self: stretch;
                object-fit: cover;
            }

            .salon-3 {
                grid-area: dos;
                align-self: stretch;
                object-fit: cover;
            }

            img {
                margin: 0;
            }
        }
    }
}