@use '../abstracts';

.main {
    margin-bottom: 7.5rem;

    &__header {

        img {
            margin-bottom: 1.5rem;
        }

        h2 {
            font-size: 3.125rem;
            line-height: 2.8rem;
            font-weight: 900;
            margin-bottom: 1.5rem;
        }

        margin-bottom: 2rem;
    }

    &__gallery {

        img {
            margin-bottom: .8rem;
        }

        &--text {
            color: abstracts.$white;
            padding: 3rem 1.5rem;
            background-color: abstracts.$black;

            h2 {
                font-size: 3.125rem;
                line-height: 2.8rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}